/* Custom font, see https://github.com/jpanther/congo/discussions/227 */
html {
    font-family: libre-franklin, sans-serif;
}

.bg-neutral {
  background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url('../background/pattern.png');
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prose :where(tbody td):not(:where([class~=not-prose],[class~=not-prose] *)) {
  vertical-align: middle;
}

.max-logo-height {
    max-width: 5rem;
  }

.max-logo-width {
    max-width: 20rem;
  }

.chairimg {
  max-width:15%;
  display:inline-block;
  padding-right:10px;
  padding-left:10px;
  vertical-align:top;
}

@media (max-width: 1024px) {
  .chairimg {
    max-width:50%;
  }
}

@media (min-width: 640px) {
  .sm\:me-7 {
    margin-inline-end: 1.3rem;
  }
}

.text-lg {
  font-size: 1rem;
  line-height: 1.75rem;
}

.text-end {
  text-align: center;
}