<div style="display: flex;align-items: center;">
    <div style="flex: 1; padding: 10px;">
        <figure>
            <img src="{{ .Get "src" }}"
                style="border-radius:5px;"
                alt="{{ .Get "name" }}">
            <figcaption style="text-align:center"><b>{{ .Get "name" }}</b></figcaption>
        </figure>
    </div>
    <div style="flex: 3;padding: 10px;display: flex;flex-direction: column;align-content: flex-start;">
        <div style="display: flex"><b>State: </b><span> {{ .Get "state"}}</span></div>
        <br/>
        <div style="display: flex"><b>Student Status: </b><span> {{ .Get "status"}}</span></div>
        <br/>
        <div style="display: flex"><b>Project Overview: </b><span> {{ .Get "overview"}}</span></div>
        <br/>
        <div style="display: flex"><b>Video: </b><span><a href="{{ .Get "video"}}" target="_blank">Link</a> </span></div>
        <br/>
        <div style="display: flex"><b>Supervisor: </b><span> {{ .Get "supervisor"}}</span></div>
        <br/>
        <div style="display: flex"><b>Indigenous Community: </b><span> {{ .Get "community"}}</span></div>
    </div>
    <hr/>
</div>